<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.finance.HistogramDao">
		
<!-- 获取月利润总行数 -->
	<select id="findCountByMap" parameterType="map" resultType="int">
		select count(r.lid) from lirun r
		<where> 1=1
			<if test="(name!=null and name!='') and (value!=null and value!='')">
				and ${name} = #{value}
			</if>
		</where>
	</select>
		
<!-- 查询月利润表信息 -->
	<select id="selectHistogramMap" resultType="map" parameterType="map">
		select m.* from(select ldate,lmoney from lirun
			<where> 1=1 
				<if test="(value!=null and value!='') and (name!=null and name!='')">
					and ${name} like concat('%',concat(#{value},'%'))
				</if>
				<!-- 根据时间段查询 -->
				<if test="beginTime!=null and beginTime!=''">
						<![CDATA[   and DATE_FORMAT(ldate, '%Y-%m-%d')>=  DATE_FORMAT(#{beginTime}, '%Y-%m-%d')   ]]>
				</if>
				<if test="endTime!=null and endTime!=''">
						<![CDATA[  and DATE_FORMAT(ldate, '%Y-%m-%d') <= DATE_FORMAT(#{endTime}, '%Y-%m-%d')    ]]>
						<!-- ldate数据库里的字段 -->
				</if>
			</where>
					) m order by m.ldate desc limit #{begin},#{end}
	</select>
	
<!-- 获取总行数 -->
	<select id="findCount1ByMap" parameterType="map" resultType="int">
		select count(r.yid) from year r
	</select>
		
<!-- 查询年利润表信息 -->
	<select id="selectHistogram1Map" resultType="map" parameterType="map">
		select m.* from(select ydate,ymoney from year
			<where> 1=1 
			<!-- 根据时间段查询 -->
				<if test="beginTime!=null and beginTime!=''">
						<![CDATA[   and DATE_FORMAT(ydate, '%Y-%m-%d')>=  DATE_FORMAT(#{beginTime}, '%Y-%m-%d')   ]]>
				</if>
				<if test="endTime!=null and endTime!=''">
						<![CDATA[  and DATE_FORMAT(ydate, '%Y-%m-%d') <= DATE_FORMAT(#{endTime}, '%Y-%m-%d')    ]]>
						<!-- ldate数据库里的字段 -->
				</if>
			</where>
					) m order by m.ydate desc 
	</select>
	
<!-- 动态柱状图SQL语句 -->

	<!-- 财务收入 -->
		<select id="selectIncome" parameterType="com.aaa.entity.finance.Income"  resultType="com.aaa.entity.finance.Income">
  			select month(incomeDate) allMonth,sum(incomeMoney) total from income 
			<where>
  			 	<if test="startTime!=null and startTime!=''">
  			 		IncomeDate  between #{startTime} and  #{finalTime}
  			 	</if>
  			 	<if test="startTime==null or startTime==''">
  			 		IncomeDate between '2018-01-01' and '2018-12-31'
  			 	</if>
  			</where>	
  					group by allMonth
  		</select>
  		
  	<!-- 财务支出 -->
  		<select id="selectDisburse" parameterType="com.aaa.entity.finance.Disburse"  resultType="com.aaa.entity.finance.Disburse">
  			select month(DisDate) disburseMonth,sum(DisMoney) disburseMoney from disburse 
  			 <where> 1=1 
			<!-- 根据时间段查询 -->
				<if test="beginTime!=null and beginTime!=''">
						<![CDATA[   and DATE_FORMAT(IncomeDate, '%Y-%m-%d')>=  DATE_FORMAT(#{beginTime}, '%Y-%m-%d')   ]]>
				</if>
				<if test="endTime!=null and endTime!=''">
						<![CDATA[  and DATE_FORMAT(IncomeDate, '%Y-%m-%d') <= DATE_FORMAT(#{endTime}, '%Y-%m-%d')    ]]>
						<!-- ldate数据库里的字段 -->
				</if>
			</where>
					group by disburseMonth 
  		</select>
	
<!-- 根据时间段查询每月 利润（月收入和-月支出和=利润） -->
  		<select id="selectProfit" parameterType="com.aaa.entity.finance.Income"  resultType="com.aaa.entity.finance.Income">
  			select (a.totalMoney-b.DisMoney) as promoney,a.allMonth from (select month(IncomeDate) allMonth,sum(IncomeMoney) totalMoney from income
  				<where>
  			 	<if test="startTime!=null and startTime!=''">
  			 		IncomeDate  between #{startTime} and  #{finalTime}
  			 	</if>
  			 	<if test="startTime==null or startTime==''">
  			 		IncomeDate between '2018-01-01' and '2018-12-31'
  			 	</if>
  			 </where>group by allMonth)a,
			(select month(DisDate) disburseMonth,sum(DisMoney) DisMoney from disburse
 			 <where>
  			 	<if test="startTime!=null and startTime!=''">
  			 		DisDate  between #{startTime} and  #{finalTime}
  			 	</if>
  			 	<if test="startTime==null or startTime==''">
  			 		DisDate between '2018-01-01' and '2018-12-31'
  			 	</if>
  			 </where>group by disburseMonth)b
 		 			 where a.allMonth=b.disburseMonth    
  		</select>
  		
  </mapper>

