<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.aaa.dao.manger.MaterialssDao">
  	<select id="findCountBymaterial" resultType="int" parameterType="map">
		select count(mid) from material
		<where>
		state=2
			<if test="(value!=null and value!='') and (name!=null and name!='')">
				${name} like concat('%',concat(#{value},'%'))
			</if>
		</where>
	</select>
	<select id="selectmaterial" resultType="map" parameterType="map">
		select mid,mnumber,pnumber,mzhuang,mperson,mshi,myi from material
			<where>
				state=2
				<if test="(value!=null and value!='') and (name!=null and name!='')">
					${name} like concat('%',concat(#{value},'%'))
				</if>
			</where>
		 	order by mid desc
			limit #{begin},#{end}
	</select>
	
	<select id="select" parameterType="int" resultType="com.aaa.entity.manger.Material">
		select mid,mnumber,pnumber,mzhuang,mperson,mshi,myi from material where mid=#{mid}
	</select>
	
	<update id="toUpdate" parameterType="com.aaa.entity.manger.Material">
		update material set  mzhuang=1,myi=#{myi},mperson=#{mperson},mshi=#{mshi} where mid=#{mid}
	</update>
	
	<update id="tooUpdate" parameterType="com.aaa.entity.manger.Material">
		update material set  mzhuang=2,myi=#{myi},mperson=#{mperson},mshi=#{mshi} where mid=#{mid}
	</update>
  </mapper>
