<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
   <!-- springmvc  总调度器开始-->
	<servlet>
		<servlet-name>springMvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<!--contextConfigLocation是固定的,不能更改  -->
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/applicationContext-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springMvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<!-- springmvc  总调度器结束-->
	<!-- spring 配置文件  读取apring配置文件applicationContext.xml log4j -->
   <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/applicationContext*.xml</param-value>
	</context-param>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:log4j.properties</param-value>
	</context-param>
<!-- spring结束-->
<!-- 此监听器主要用于解决java.beans.Introspector导致的内存泄漏的问题 -->
	<listener>
        <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
    </listener>
	<!-- 配置spring监听器-->
	<listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!-- 配置编码 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
    <!-- 静态资源过滤 -->
  <servlet-mapping>
  	  <servlet-name>default</servlet-name>
  	  <url-pattern>*.js</url-pattern>
  	  <url-pattern>*.css</url-pattern>
  	  <url-pattern>*.jpg</url-pattern>
  	  <url-pattern>*.png</url-pattern>
  	  <url-pattern>*.gif</url-pattern>
  	  <url-pattern>*.json</url-pattern>
  	  <url-pattern>*.eot</url-pattern>
  	  <url-pattern>*.svg</url-pattern>
  	  <url-pattern>*.ttf</url-pattern>
  	  <url-pattern>*.woff</url-pattern>
  </servlet-mapping>
  <error-page>
  	<error-code>404</error-code>
  	<location>/404.jsp</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/500.jsp</location>
  </error-page>
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
